job_pipeline/n8n_workflow_daily_digest.json
{
  "name": "Job pipeline — daily digest (AI API)",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "nodes": [
    {
      "parameters": {
        "content": "## Setup\n1. Set environment variables in n8n:\n- `AI_API_BASE` = `http://host.docker.internal:8000` (or your API URL, no trailing slash)\n- `N8N_API_KEY` = same value as `N8N_API_KEY` for the AI API\n- `SLACK_WEBHOOK_URL` = Slack Incoming Webhook URL (optional; delete Slack node if unused)\n\n2. Schedule: adjust the Schedule Trigger to your morning time.\n\n3. **One call** hits `POST /jobs/pipeline/daily-run?ingest=true&summarize_limit=25` — ingest + summarize + `digest_text`.\n\n4. **Email:** duplicate the Slack HTTP node → use Gmail / SMTP node with `{{$json.digest_text}}` as body.\n\n5. **Separate crons:** use three HTTP nodes calling `/jobs/pipeline/ingest`, `/jobs/pipeline/summarize`, `/jobs/pipeline/digest` instead.",
        "height": 468,
        "width": 420
      },
      "id": "note-setup",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule (edit time in UI)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AI_API_BASE}}/jobs/pipeline/daily-run",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ingest",
              "value": "true"
            },
            {
              "name": "summarize_limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-daily-run",
      "name": "POST daily-run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: 'Job copilot digest\\n\\n' + ($json.digest_text || $json.body?.digest_text || 'no digest') }) }}",
        "options": {}
      },
      "id": "http-slack-webhook",
      "name": "Slack webhook (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 320],
      "notesInFlow": true,
      "notes": "Requires SLACK_WEBHOOK_URL. For email, replace with Gmail/SMTP."
    }
  ],
  "connections": {
    "Schedule (edit time in UI)": {
      "main": [
        [
          {
            "node": "POST daily-run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST daily-run": {
      "main": [
        [
          {
            "node": "Slack webhook (optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
